# העתק קובץ זה ל-.env ומלא את הערכים שלך
# Copy this file to .env and fill in your values

BASE_URL=https://cnpdev.health.gov.il
USER_ID=xxxxxxxxx
USER_BIRTH_YEAR=xxxx
USER_NAME=שם פרטי משפחה
TELEFON=05xxxxxxxx
EMAIL=your@email.com
HOUSE_NUMBER=1
